.header{
	width: 100vw;
	height: 0.46rem;
	background: #FFFFFF;
}
.header .block{
	width: 0.41rem;
	height: 0.46rem;
	line-height: 0.46rem;
	text-align: center;
}
.search{
	width: 2.6rem;
	height: 0.46rem;
}
.input-row{
	width: 100%;
	height: 0.27rem;
	line-height: .27rem;
	top: 50%;
	margin-top: -.135rem;
	background:rgba(239,239,239,1);
	border-radius:0.11rem;
	border:1px solid rgba(242,242,242,1);
}
.search-icon{
	width: 0.43rem;
	line-height: 0.27rem;	
	text-align: center;
	font-size: 0.16rem;
}
.search-input{
	margin-left: 0.43rem;
	height: 100%;	
	padding-right: 0.1rem;
	font-size: 0;
}
.search-input form{
	height: 100%;
}
.search-input input{
	width: 100%;
	height:100%;
	font-size: 0.16rem;
	background:rgba(239,239,239,1);
}
.header .send{
	width: 0.44rem;
	height: 0.46rem;
	margin-left: 0.1rem;
}
.header .send div{
	display: block;
	top: 50%;
	margin-top: -.135rem;
	width: 100%;
	height: 0.27rem;
	line-height: .27rem;
	background:linear-gradient(126deg,rgba(250,217,97,1) 0%,rgba(247,107,28,1) 100%);
	border-radius:0.12rem;
	color: #FFFFFF;
	font-weight: 300;
	text-align: center;
	font-size: 0.14rem;
}
.main{
	padding-top: .46rem;
}
.box{
	padding: 0 0.23rem;
	overflow: hidden;
}
.search-box{
	overflow: hidden;
	padding: 1px;
}
.box .title{
	height: 0.5rem;
	line-height: .5rem;
	font-size: 0.16rem;
	color: #222222;
	font-weight: 300;
}
.box .title div{
	font-size: 0.14rem;
	color: #5A5A5A;
}
.box .list{
	height: 0.25rem;
	line-height: 0.25rem;
	padding: 0 0.12rem;
	border-radius: 0.1rem;
    font-size: 0.12rem;
    font-weight: 300;
    background: #FFFFFF;
    color: #5A5A5A;
    margin-bottom: 0.14rem;
    margin-right: 0.1rem;
}
.box .list::after{ 
    position: absolute; 
    top: -1px; 
    bottom: -1px; 
    left: -1px; 
    right: -1px; 
    background: linear-gradient(#FAD961, #F76B1C); 
    content: ''; 
    z-index: -1; 
    border-radius: .1rem; 
}