<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="../css/trend.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.css" />
		<script type="text/javascript" src="../js/web.js"></script>
	</head>

	<body>
		<div id="app" v-cloak>
			<header class="header fixed">
				<div class="fl mui-action-back  iconfont icon-back"></div>
				<div class="title absolute">潮流购物</div>
				<div class="fr iconfont icon-youixn" @tap="messagelist"></div>
			</header>
			<div class="main">
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="sider">
							<div class="swiper-container commend">
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="item in carousel" :actid="item.id">
										<img class="img" :src="item.goodscover" />
									</div>

								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<ul class="boox" id="boox">
							<li class="boox-list relative" v-for="(item,index) in list" @tap="godetails(item.id)">
								<img :src="item.goodscover" />
								<div class="name textOver">{{item.title}}</div>
								<div class="price">¥ {{item.price}}</div>
								<div v-bind:class="[{active:item.collect==2},'iconfont collection icon-shoucang absolute']" @tap.stop="toggleGoods(index,item.id,item.collect)"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/swiper.min.js"></script>
		<script type="text/javascript" src="../js/Vue.js"></script>
		<script type="text/javascript" src="../js/aes.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {

				var vm = new Vue({
					el: "#app",
					data: {
						page: 0,
						sider: '',
						carousel: '',
						list: [],
					},
					methods: {
						godetails: function(id) {
							location.href = 'details.html?id=' + id;
						},
						messagelist: function() {
							yh.messagelist();
						},
						toggleGoods: function(i, id, collect) { //收藏切换
							var url = collect == 1 ? "/collectGoods" : '/delCollectGoods';
							yh.ajax({
								url: url,
								data: {
									'goodsid': id,
								},
								type: "post",
								fn: function(data) {
									vm.list[i].collect = collect == 1 ? 2 : 1;
								}
							}, true);
						}
					},
					watch: {
						carousel: function() {
							this.$nextTick(function() {
								vm.sider == '' ? vm.sider = new Swiper(".commend", {
									pagination: {
										el: '.swiper-pagination',
										bulletElement: 'div',
									},
									on: {
										tap: function(e) {
											var id=this.slides.eq(this.activeIndex).attr('actid');
											vm.godetails(id);
										},
									},
									loop: true, //启动自动切换
									loopAdditionalSlides: 1, //启动自动切换 前后各加一张图片
									autoplay: {
										delay: 5000, //5秒切换一次
										disableOnInteraction: false, //开启用户点击后自动启动
									},
								}) : vm.sider.update();
							})
						}
					}
				})
				mui.init({ //				
					pullRefresh: {
						container: '#pullrefresh',
						up: {
							auto: true,
							contentrefresh: '正在加载...',
							callback: pullupRefresh,
						}
					}
				});

				function pullupRefresh() {
					var $this = this;
					vm.page++;
					yh.ajax({
						url: '/activity',
						data: {
							actid: yh.getQueryString('id'),
							page: vm.page,
							num: 15,
						},
						type: "get",
						fn: function(data) {
							if(vm.page == 1) vm.carousel = data.carousel;
							data.list.forEach(function(value, i) {　
								vm.list.push(value);
							})
							$this.endPullupToRefresh(data.list.length < 15);
							//							mui('#pullrefresh').pullRefresh().endPullupToRefresh(data.list.length < 15);
						}
					});
				}
			})
		</script>
	</body>

</html>