.header {
	width: 100vw;
	height: 0.46rem;
	line-height: .46rem;
	color: #5B5B5B;
	top: 0;
	z-index: 10;
	font-size: 0.18rem;
	background: #FFFFFF;
}
.header .mui-action-back {
	padding-left: 0.2rem;
	font-size: 0.16rem;
}
.header .title {
	position: absolute;
	height: 100%;
	left: 0.5rem;
	right: 0.5rem;
	text-align: center;
}
.main {
	padding-top: .56rem;
}

.inpu-row {
	height: 0.5rem;
	line-height: .5rem;
	margin-bottom: 1px;
	font-size: 0.14rem;
	padding: 0 0.2rem;
	background: #FFFFFF;
}

.inpu-row input {
	width: 2.8rem;
	font-size: .14rem;
}

.send {
	width: 80%;
	height: 0.5rem;
	background: #F27428;
	margin: 0.5rem auto;
	border-radius: 0.1rem;
	color: #FFFFFF;
	font-size: 0.18rem;
	text-align: center;
}