<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/helpCenter.css" />
		<script type="text/javascript" src="../../js/web.js"></script>
	</head>
	<body>
		<header class="header fixed">
			<div class="fl mui-action-back icon-row iconfont icon-back"></div>
			<div class="title">帮助中心</div>
		</header>
		<div class="main" id="app" v-cloak>
			<div class="meiqi-box table">
				<div class="table-cell">
					<!--<div class="title">
						在线客服
					</div>-->
					<div class="help">
						<div class="help-btn fl" @tap="goqq">
							客服 <img class="qq" src="../../img/icon/20190123151217.png" />
						</div>
						<div class="help-btn fl" @tap="call">
							客服 <img class="phone" src="../../img/icon/20190123154327.png" />
						</div>
					</div>
					<div class="tag">在线时间：工作日9:00-18:00</div>
					<div class="meiqi-btn" v-if="kefu.kefu_wx" @tap="sendmessage">
						优信咨询
					</div>
				</div>
			</div>
			<ul class="box">
				<li class="list relative" v-for="item in article" @tap="articleInfo(item.id)">{{item.title}}</li>
			</ul>
		</div>
		<script type="text/javascript" src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../js/Vue.js"></script>
		<script type="text/javascript" src="../../js/aes.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				var vm=new Vue({
					el:'#app',
					data:{
						kefu:'',
						article:'',
					},
					methods:{
						articleInfo:function(id){
							mui.openWindow('articleInfo.html?id='+id, 'articleInfo', {
								styles: {
									popGesture: "close",
									background:'#FFFFFF',
								},
							});
						},
						goqq:function(){
							if(plus.os.name == "iOS") {
								plus.runtime.launchApplication({
									action: "mqq://im/chat?chat_type=wpa&uin="+this.kefu.kefu_qq+"&version=1&src_type=web"
								}, function(e) {
									plus.nativeUI.alert("检查到您未安装qq");
								});
							} else {
								if(plus.os.name == "Android") {
									var main = plus.android.runtimeMainActivity();
									var Intent = plus.android.importClass('android.content.Intent');
									var Uri = plus.android.importClass('android.net.Uri');
									var intent = new Intent(Intent.ACTION_VIEW, Uri.parse("mqqwpa://im/chat?chat_type=wpa&uin="+this.kefu.kefu_qq));
									main.startActivity(intent);
								}
							}
						},
						sendmessage: function() { //聊天
							yh.istoken(function(){
								mui.openWindow({
									url: '_www/chat/html/message.html?id=' +vm.kefu.kefu_wx,
									id: 'messige.html',
									styles: {
										top: 0,
										bottom: 0,
										background:'#FFFFFF',
									},
								})
							})
						},
						call:function(){
							var btnArray=['拨打','取消'];
				            var phone=this.kefu.kefu_tel;
				            mui.confirm('是否拨打'+phone+'?','提示',btnArray,function(e){
				                if(e.index == 0){
				                    plus.device.dial(phone,false);
				                }
				            });
						}
					}
				});
				yh.ajax({
					url: "/helpCenter",
					type: "GET",
					fn: function(data) {
						vm.kefu=data.kefu;
						vm.article=data.article;
					}
				});
			})
		</script>
	</body>
</html>
