<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<script type="text/javascript" src="../../js/web.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/password.css" />
	</head>
	<body>
		<header class="header fixed">
			<div class="fl mui-action-back icon-row iconfont icon-back"></div>
			<div class="title">修改密码</div>
		</header>
		<div class="main" id="app" v-cloak>
			<div class="inpu-row">
				密码 <input type="password" v-model="data.oldtakepassword" placeholder="请输入原密码" />
			</div>
			<div class="inpu-row">
				密码 <input type="password" v-model="data.takepassword" placeholder="请输入新密码" />
			</div>
			<div class="inpu-row">
				密码 <input type="password" v-model="data.retakepassword" placeholder="确认密码" />
			</div>
			<button class="send" @touchend="send">确定</button>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/aes.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/Vue.js"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				var vm=new Vue({
					el:"#app",
					data:{
						data:{
							oldtakepassword:'',
							takepassword:'',
							retakepassword:'',							
						},
						name:'',
					},
					methods:{
						send:function(){
							vm.name=yh.getQueryString('name')||'';							
							if(this.name==''&&!/^[0-9]{6}$/.test(this.data.oldtakepassword)||this.name=='user'&&!/^[a-zA-Z0-9]{6,24}$/.test(this.data.oldtakepassword)){
								mui.toast("原密码格式不正确");
							}else if(this.ispassword(this.data.takepassword)){
								var url=vm.name==''?'/editTakePassword':'/editPassword';
								yh.ajax({
									url: url,
									data:vm.data,
									type: "POST",
									fn: function(data) {
										mui.alert('密码修改成功，请牢记！','优货网','确定',function(){
											mui.back();
										});								
									}
								},true)
							}
						},
						ispassword: function(value) {
							var tip = '';
							var pass = true;
							if(vm.name==''&&!/^[0-9]{6}$/.test(value)||!/^[a-zA-Z0-9]{6,24}$/.test(value)) {
								tip = '新密码格式不正确';
								pass = false;
							} else if(value != this.data.retakepassword) {
								tip = "密码不一致";
								pass = false;
							}
							if(!pass) mui.toast(tip);
							return pass;
						},
					}
				})
			})
		</script>
	</body>
</html>
