<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<script type="text/javascript" src="../../js/web.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/password.css" />
	</head>

	<body>
		<header class="header fixed">
			<div class="fl mui-action-back icon-row iconfont icon-back"></div>
			<div class="title">设置密码</div>
		</header>
		<div class="main" id="app" v-cloak>
			<div class="inpu-row">
				密码 <input type="password" v-model="user.takepassword" placeholder="请输入6位数字密码" />
			</div>
			<div class="inpu-row">
				密码 <input type="password" v-model="user.retakepassword" placeholder="确认密码" />
			</div>
			<div class="inpu-row">
				身份证 <input type="text" v-model="user.idnum" placeholder="身份证" />
			</div>
			<button class="send" @touchend="send">确定</button>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/aes.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/Vue.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {
				vm = new Vue({
					el: "#app",
					data: {
						user: {
							takepassword: '',
							retakepassword: '',
							idnum: '',
						},
					},
					methods: {
						send: function() {
							if(!this.ispassword(this.user.takepassword) || !this.IdentityCodeValid(this.user.idnum)) return;
							yh.ajax({
								url: "/setTakePassword",
								data: vm.user,
								type: "POST",
								fn: function(data) {
									mui.toast('提现密码设置成功，请牢记！')
									var id = yh.getQueryString('id');
									var view = plus.webview.getWebviewById(id); //
									mui.fire(view, 'refresh', {
										s: 1
									});
									mui.back();
								}
							})
						},
						ispassword: function(value) {
							var tip = '';
							var pass = true;
							if(!value || !/^[0-9]{6}$/.test(value)) {
								tip = '请输入6位纯数字密码';
								pass = false;
							} else if(value != this.user.retakepassword) {
								tip = "密码不一致";
								pass = false;
							}
							if(!pass) mui.toast(tip);
							return pass;
						},
						IdentityCodeValid: function(code) {
							var city = {
								11: "北京",
								12: "天津",
								13: "河北",
								14: "山西",
								15: "内蒙古",
								21: "辽宁",
								22: "吉林",
								23: "黑龙江 ",
								31: "上海",
								32: "江苏",
								33: "浙江",
								34: "安徽",
								35: "福建",
								36: "江西",
								37: "山东",
								41: "河南",
								42: "湖北 ",
								43: "湖南",
								44: "广东",
								45: "广西",
								46: "海南",
								50: "重庆",
								51: "四川",
								52: "贵州",
								53: "云南",
								54: "西藏 ",
								61: "陕西",
								62: "甘肃",
								63: "青海",
								64: "宁夏",
								65: "新疆",
								71: "台湾",
								81: "香港",
								82: "澳门",
								91: "国外 "
							};
							var tip = "";
							var pass = true;
							if(!code || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(code)) {
								tip = "身份证号格式错误";
								pass = false;
							} else if(!city[code.substr(0, 2)]) {
								tip = "请填写正确的身份证号码";
								pass = false;
							} else {
								if(code.length == 18) { //18位身份证需要验证最后一位校验位
									code = code.split('');
									//∑(ai×Wi)(mod 11)
									//加权因子
									var factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
									//校验位
									var parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2];
									var sum = 0;
									var ai = 0;
									var wi = 0;
									for(var i = 0; i < 17; i++) {
										ai = code[i];
										wi = factor[i];
										sum += ai * wi;
									}
									var last = parity[sum % 11];
									if(parity[sum % 11] != code[17]) {
										tip = "身份证号码不正确";
										pass = false;
									}
								}
							}
							if(!pass) mui.toast(tip);
							return pass;
						}
					}
				})
			})
		</script>
	</body>

</html>