<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<script type="text/javascript" src="../../js/web.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/password.css" />
		<style type="text/css">
			.inpu-row .code {
				width: 1.5rem;
				/*background: #0062CC;*/
			}
			
			.inpu-row .get-code {
				width: 1rem;
				height: .35rem;
				top: 50%;
				right: 0.2rem;
				line-height: .35rem;
				color: #F27428;
				border: 1px solid;
				text-align: center;
				border-radius: 0.1rem;
			}
			
			.inpu-row .code-active {
				color: #747473;
			}
		</style>
	</head>

	<body>
		<header class="header fixed">
			<div class="fl mui-action-back icon-row iconfont icon-back"></div>
			<div class="title">忘记密码</div>
		</header>
		<div class="main" id="app" v-cloak>
			<div class="inpu-row">
				手机号 {{data.phone}}
			</div>
			<div class="inpu-row relative">
				验证码 <input type="number" v-model="data.code" class="code" placeholder="请输入验证码" />
				<div class="translateY get-code absolute" @touchend='getSmsCode'>
					{{codeText}}
				</div>
			</div>
			<div class="inpu-row">
				身份证 <input type="text" v-model="data.idnum" placeholder="请输入设置密码时绑定的身份证" />
			</div>
			<div class="inpu-row">
				密码 <input type="password" v-model="data.mypassword" placeholder="新密码" />
			</div>
			<div class="inpu-row">
				密码 <input type="password" v-model="data.takepassword" placeholder="确认密码" />
			</div>
			<button class="send" @touchend='send'>确定</button>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/aes.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/Vue.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {
				var vm = new Vue({
						el: "#app",
						data: {
							data:{
								phone: '',
								code:'',
								idnum:'',
								takepassword:'',
								mypassword:'',
							},							
							onOff: true,
							codeText: '获取验证码',
							timer: null,							
						},
						methods: {
							getSmsCode: function() {
								if(!vm.onOff) return;
								var second = 60;
								yh.ajax({
									url: "/getSmsCode",
									data: {
										phone: vm.data.phone,
										type: 5,
									},
									type: "post",
									fn: function(data) {
										vm.codeText = second + '秒';
										vm.timer = setInterval(function() {
											second -= 1;
											if(second > 0) vm.codeText = second + "秒";
											else {
												clearInterval(vm.timer);
												vm.codeText = "获取验证码";
												vm.onOff = true;
											}
										}, 1000);
									}
								}, true, function() {
									vm.onOff = true;
								});
							},
							send:function(){
								if(!this.data.code||this.data.code.length!=6){
									mui.toast('验证码不正确');
								}else if(this.IdentityCodeValid(vm.data.idnum)&&this.ispassword(vm.data.mypassword)){
									yh.ajax({
										url: "/forgetTaketPassword",
										data:vm.data,
										type: "POST",
										fn: function(data) {
											mui.alert('新密码设置成功，请牢记！','优货网','确定',function(){
												mui.back();
											});		
										}
									});
								}
							},
							ispassword: function(value) {
								var tip = '';
								var pass = true;
								if(!value || !/^[0-9]{6}$/.test(value)) {
									tip = '请输入6位纯数字密码';
									pass = false;
								} else if(value != this.data.takepassword) {
									tip = "密码不一致";
									pass = false;
								}
								if(!pass) mui.toast(tip);
								return pass;
							},
							IdentityCodeValid: function(code) {
								var city = {
									11: "北京",
									12: "天津",
									13: "河北",
									14: "山西",
									15: "内蒙古",
									21: "辽宁",
									22: "吉林",
									23: "黑龙江 ",
									31: "上海",
									32: "江苏",
									33: "浙江",
									34: "安徽",
									35: "福建",
									36: "江西",
									37: "山东",
									41: "河南",
									42: "湖北 ",
									43: "湖南",
									44: "广东",
									45: "广西",
									46: "海南",
									50: "重庆",
									51: "四川",
									52: "贵州",
									53: "云南",
									54: "西藏 ",
									61: "陕西",
									62: "甘肃",
									63: "青海",
									64: "宁夏",
									65: "新疆",
									71: "台湾",
									81: "香港",
									82: "澳门",
									91: "国外 "
								};
								var tip = "";
								var pass = true;
								if(!code || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(code)) {
									tip = "身份证号格式错误";
									pass = false;
								} else if(!city[code.substr(0, 2)]) {
									tip = "请填写正确的身份证号码";
									pass = false;
								} else {
									if(code.length == 18) { //18位身份证需要验证最后一位校验位
										code = code.split('');
										//∑(ai×Wi)(mod 11)
										//加权因子
										var factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
										//校验位
										var parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2];
										var sum = 0;
										var ai = 0;
										var wi = 0;
										for(var i = 0; i < 17; i++) {
											ai = code[i];
											wi = factor[i];
											sum += ai * wi;
										}
										var last = parity[sum % 11];
										if(parity[sum % 11] != code[17]) {
											tip = "身份证号码不正确";
											pass = false;
										}
									}
								}
								if(!pass) mui.toast(tip);
								return pass;
							}
					}
				}); 
				yh.ajax({
					url: "/getUserPhone",
					type: "GET",
					fn: function(data) {
						vm.data.phone = data;
					}
				})
			})
		</script>
	</body>

</html>